.promo {
    min-height: 100vh;
    position: relative;
    background: url('/img/promo_bg.png') no-repeat 50%/cover;
    padding-top: 205px;
    &__title {
        width: 545px;
        margin-top: 10px;
    }
    &__subtitle {
        position: relative;
        z-index: 2;
        @include before_circle;
        padding-left: 10px;
    }
    &__btns {
        margin-top: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 250px;
    }
    &__link {
        color: #000;
        text-decoration: none;
        font-weight: bold;
        &:hover {
            color:#000;
        }
    }
    &__nav_btn {
        position: absolute;
        top: 20px;
        right: 30px;
        width: 36px;
        height: 21px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        cursor: pointer;
        span {
            display: block;
            width: 30px;
            height: 3px;
            background: $orange-color;
        }
        span.line {
            width: 36px;
        }
    }
}